.navbar-wrapper {
  display: flex;
  align-items: center;
  background-color: var(--blackboard);
  min-height: 10vh;
  border-bottom: 5px solid var(--oxford);
}
.logo-wrapper {
  flex-grow: 1;
  text-align: center;
}
.chef-image {
  height: 7vh;
  border-radius: 10px;
}
.nav-links {
  padding-top: 6px;
  text-decoration: none;
  font-weight: 700;
  color: white;
}
.buttons {
  flex-grow: 0.5;
  display: flex;
  justify-content: space-around;
}